.echo-buffs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
}

.echo-buff {
    background: rgba(115, 115, 115, 0.02);
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid rgba(143, 143, 143, 0.24);
}

.dark .echo-buff {
    background: rgba(0, 0, 0, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.echo-buff-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}

.echo-buff-effect {
    font-size: 14px;
    margin-bottom: 6px;
}

.highlight {
    color: goldenrod !important;
    font-weight: bold;
}

.dark .highlight {
    color: blanchedalmond !important;
}

.echo-buff-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 6px;
}

.echo-buff-icon {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    object-fit: cover;
}

.echo-buff-icon.blackify {
    filter: brightness(0) saturate(100%);
}

.dark .echo-buff-icon.blackify {
    filter: none;
}