.scarlet-nebula .skills-settings .echo-info,
.cosmic-rainbow .skills-settings .echo-info,
.dark .skills-settings .echo-info,
.dark-alt .skills-settings .echo-info {
    color: white;
}

.scarlet-nebula .dropdown-label,
.cosmic-rainbow .dropdown-label,
.dark .dropdown-label,
.dark-alt .dropdown-label {
    color: #fff;
}

.scarlet-nebula .main-echo-description.guides,
.scarlet-nebula .changelog-entries.guides p,
.cosmic-rainbow .main-echo-description.guides,
.cosmic-rainbow .changelog-entries.guides p,
.dark .main-echo-description.guides,
.dark-alt .main-echo-description.guides,
.dark-alt .changelog-entries.guides p,
.dark .changelog-entries.guides p {
    color: #cfcfcf;
}

.scarlet-nebula .settings-label input,
.cosmic-rainbow .settings-label input,
.dark-alt .settings-label input,
.dark .settings-label input {
    color: #ffffff;
}

.scarlet-nebula .toggle-effect-button,
.cosmic-rainbow .toggle-effect-button,
.dark .toggle-effect-button,
.dark-alt .toggle-effect-button {
    color: white;
}

.scarlet-nebula .sidebar-button,
.scarlet-nebula .sidebar-sub-button,
.cosmic-rainbow .sidebar-button,
.cosmic-rainbow .sidebar-sub-button,
.dark .sidebar-button,
.dark .sidebar-sub-button,
.dark-alt .sidebar-button,
.dark-alt .sidebar-sub-button {
    color: #ddd;
}

.scarlet-nebula .custom-select__indicator,
.cosmic-rainbow .custom-select__indicator,
.dark .custom-select__indicator,
.dark-alt .custom-select__indicator {
    color: #ddd !important;
}

.scarlet-nebula .custom-select__indicator:hover,
.cosmic-rainbow .custom-select__indicator:hover,
.dark .custom-select__indicator:hover,
.dark-alt .custom-select__indicator:hover {
    color: #8c8c8c !important;
}

.scarlet-nebula .custom-select__clear-indicator.custom-select__indicator:hover,
.cosmic-rainbow .custom-select__clear-indicator.custom-select__indicator:hover,
.dark .custom-select__clear-indicator.custom-select__indicator:hover,
.dark-alt .custom-select__clear-indicator.custom-select__indicator:hover {
    color: #ff4343 !important;
}

.scarlet-nebula .custom-select__multi-value,
.cosmic-rainbow .custom-select__multi-value,
.dark .custom-select__multi-value,
.dark-alt .custom-select__multi-value {
    background: rgba(255, 255, 255, 0.13) !important;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.11) !important;
}

.scarlet-nebula .custom-select__single-value__label,
.scarlet-nebula .custom-select__multi-value__label,
.cosmic-rainbow .custom-select__single-value__label,
.cosmic-rainbow .custom-select__multi-value__label,
.dark .custom-select__single-value__label,
.dark .custom-select__multi-value__label,
.dark-alt .custom-select__single-value__label,
.dark-alt .custom-select__multi-value__label {
    color: #ddd !important;
}

.scarlet-nebula .custom-select__option--is-focused,
.scarlet-nebula .custom-select__option--is-selected,
.cosmic-rainbow .custom-select__option--is-focused,
.cosmic-rainbow .custom-select__option--is-selected,
.dark .custom-select__option--is-focused,
.dark .custom-select__option--is-selected,
.dark-alt .custom-select__option--is-focused,
.dark-alt .custom-select__option--is-selected {
    background-color: rgba(255, 255, 255, 0.15) !important;
}

.scarlet-nebula .custom-select__indicator-separator,
.cosmic-rainbow .custom-select__indicator-separator,
.dark .custom-select__indicator-separator,
.dark-alt .custom-select__indicator-separator {
    opacity: 0.15;
}

.scarlet-nebula .custom-select__input,
.cosmic-rainbow .custom-select__input,
.dark .custom-select__input,
.dark-alt .custom-select__input {
    color: #ddd !important;
}

.scarlet-nebula .cv-container,
.cosmic-rainbow .cv-container,
.dark-alt .cv-container,
.dark .cv-container {
    background-color: rgba(255, 87, 123, 0.16) !important;
    border-color: rgba(177, 60, 83, 0.81) !important;
    color: rgb(255, 255, 255);
}

.scarlet-nebula .character-overview-header,
.scarlet-nebula .horizontal-character-scroll,
.cosmic-rainbow .character-overview-header,
.cosmic-rainbow .horizontal-character-scroll,
.dark .character-overview-header,
.dark .horizontal-character-scroll,
.dark-alt .character-overview-header,
.dark-alt .horizontal-character-scroll {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.scarlet-nebula .notification-prompt.clickable,
.cosmic-rainbow .notification-prompt.clickable,
.dark .notification-prompt.clickable,
.dark-alt .notification-prompt.clickable {
    color: lightgoldenrodyellow;
}

.scarlet-nebula .import-overview-mini,
.cosmic-rainbow .import-overview-mini,
.dark .import-overview-mini,
.dark-alt .import-overview-mini {
    background: rgba(255, 255, 255, 0.05);
}

.scarlet-nebula .team-icon.empty-slot.overview,
.cosmic-rainbow .team-icon.empty-slot.overview,
.dark .team-icon.empty-slot.overview,
.dark-alt .team-icon.empty-slot.overview {
    background-color: rgba(255, 255, 255, 0.1);
}

.scarlet-nebula .cv-container-container,
.cosmic-rainbow .cv-container-container,
.dark .cv-container-container,
.dark-alt .cv-container-container {
    border-top: 1px solid rgba(207, 207, 207, 0.1) !important;
}

.scarlet-nebula .import-teammates-inline .team-icon.empty-slot,
.cosmic-rainbow .import-teammates-inline .team-icon.empty-slot,
.dark .import-teammates-inline .team-icon.empty-slot,
.dark-alt .import-teammates-inline .team-icon.empty-slot {
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.2);
}

.scarlet-nebula .cv-container-icon,
.cosmic-rainbow .cv-container-icon,
.dark .cv-container-icon,
.dark-alt .cv-container-icon {
    background-color: rgb(255, 255, 255);
}

.scarlet-nebula .skill-bar-fill,
.cosmic-rainbow .skill-bar-fill,
.dark .skill-bar-fill,
.dark-alt .skill-bar-fill {
    background: linear-gradient(
            to right,
            var(--accent-color, rgba(32, 191, 185, 0.89)) calc((var(--level) / var(--max-level)) * 100%),
            rgba(255, 255, 255, 0.1) 0
    );
    opacity: 0.8;
}

.scarlet-nebula .stat-icon.echo-parser-preview,
.scarlet-nebula .stat-icon.settings-import-preview,
.cosmic-rainbow .stat-icon.echo-parser-preview,
.cosmic-rainbow .stat-icon.settings-import-preview,
.dark .stat-icon.echo-parser-preview,
.dark .stat-icon.settings-import-preview,
.dark-alt .stat-icon.echo-parser-preview,
.dark-alt .stat-icon.settings-import-preview {
    background-color: #ddd !important;
}

.scarlet-nebula .preset-preview .overview-weapon-details.preset-date,
.cosmic-rainbow .preset-preview .overview-weapon-details.preset-date,
.dark .preset-preview .overview-weapon-details.preset-date,
.dark-alt .preset-preview .overview-weapon-details.preset-date {
    opacity: 0.2;
}

.scarlet-nebula .echo-preview-view h4,
.cosmic-rainbow .echo-preview-view h4,
.dark .echo-preview-view h4,
.dark-alt .echo-preview-view h4 {
    opacity: 0.8;
}

.scarlet-nebula .config-sliders,
.cosmic-rainbow .config-sliders,
.dark .config-sliders,
.dark-alt .config-sliders {
    border-left: 1px solid rgba(255, 255, 255, 0.06);
}

.scarlet-nebula .selected-set-entry,
.cosmic-rainbow .selected-set-entry,
.dark .selected-set-entry,
.dark-alt .selected-set-entry {
    background: rgba(255, 255, 255, 0.05);
}

.scarlet-nebula .set-menu,
.cosmic-rainbow .set-menu,
.dark .set-menu,
.dark-alt .set-menu {
    color: #ddd;
    border: 1px solid rgba(151, 151, 151, 0.2);
    background-color: rgba(207, 207, 207, 0.04);
}

.scarlet-nebula .set-menu-item:hover,
.cosmic-rainbow .set-menu-item:hover,
.dark .set-menu-item:hover,
.dark-alt .set-menu-item:hover,
.scarlet-nebula .set-menu-item.active,
.cosmic-rainbow .set-menu-item.active,
.dark .set-menu-item.active,
.dark-alt .set-menu-item.active {
    background: rgba(255, 255, 255, 0.25);
}

.scarlet-nebula .echo-slot-icon-wrapper .header-icon,
.cosmic-rainbow .echo-slot-icon-wrapper .header-icon,
.dark .echo-slot-icon-wrapper .header-icon,
.dark-alt .echo-slot-icon-wrapper .header-icon {
    border-color: rgba(68, 68, 68, 0.23) !important;
}

.scarlet-nebula .echo-buff-icon.blackify,
.cosmic-rainbow .echo-buff-icon.blackify,
.dark .echo-buff-icon.blackify,
.dark-alt .echo-buff-icon.blackify {
    filter: none;
}