.enemy-settings h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.slider-group {
    margin-bottom: 12px;
}

.slider-label-with-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

.slider-label-with-input input[type=number] {
    -moz-appearance: textfield;
}

.slider-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slider-controls input[type="range"] {
    flex: 1;
}