.changelog-modal h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #222;
}

.changelog-block {
    margin-bottom: 2rem;
}

.changelog-date {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #d1d5db;
}

.changelog-entries p {
    margin: 0.5rem 0;
    line-height: 1.6;
    color: #0e6a66;
}

.changelog-entries ul {
    margin-left: 1.25rem;
    margin-top: 0.5rem;
    list-style-type: disc;
}

.changelog-date {
    color: #7e7e7e;
}

    .dark .changelog-entries p,
    .dark .changelog-entries li,
    .dark .changelog-modal h2 {
        color: #f3f4f6;
    }

.dark .changelog-entries p {
    color: lightseagreen;
}

.changelog-entries {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
    padding-right: 8px;
    margin-top: 1rem;
    scroll-behavior: smooth;
    mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
}

.changelog-entries::-webkit-scrollbar {
    width: 5px;
}

.changelog-entries::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 4px;
}

.info-section.changelog {
    margin-bottom: 1rem;
}

.changelog-entries.guides p {
    margin: 0.5rem 0;
    line-height: 1.6;
    color: unset;
}

.dark .changelog-modal.guides {
    background: rgba(19, 25, 34, 0.81);
    border-color: rgba(255, 255, 255, 0.1);
}

.changelog-entries.guides{
    mask-image: unset;
    -webkit-mask-image: unset;
}

.changelog-modal.guides {
    max-width: 800px;
    gap: 1rem;
}

.changelog-entries.main-echo-description.guides {
    margin: unset;
    pointer-events: unset;
    cursor: unset !important;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

.changelog-modal.guides .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
}

.changelog-modal.guides .edit-substat-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 12px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: ease all 0.1s;
}

.changelog-modal.guides .edit-substat-button:hover {
    transform: scale(1.01);
}