.character-settings,
.skills-settings {
    position: relative;
    border-radius: 12px;
    padding: 16px;
    margin-top: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    color: #222;
}

.slider-label-with-input {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #222
}

.dark .slider-label-with-input {
    color: #ddd;
}

.dark .character-settings,
    .dark .skills-settings {
    background: rgba(31, 41, 55, 0.44);
        border-color: rgba(255,255,255,0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.19);
    }



.skills-settings .echo-info {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
    display: inline-flex;
    z-index: 10;
    transition: transform ease 0.3s;
}

.skills-settings .echo-info:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.dark .skills-settings .echo-info,
.dark-alt .skills-settings .echo-info {
    color: white;
}