.inherent-skills-box {
    border-radius: 12px;
    padding: 16px;
    margin-top: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.inherent-skills-box h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.inherent-skills .inherent-skill {
    margin-bottom: 15px;
    color: #222;
    line-height: 1.4;

}

.inherent-skills .inherent-skill h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #222
}

.dark .inherent-skills-box {
    background: rgba(31, 41, 55, 0.44);
        border-color: rgba(255,255,255,0.1);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.19);
        color: #ddd
    }

    .dark .inherent-skills-box h3,
    .dark .inherent-skills .inherent-skill h4 {
        color: #ffffff;
    }

    .dark .inherent-skills .inherent-skill p {
        color: #bbbbbb;
    }

.buff-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    gap: 10px;
    place-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.buff-icon {
    width: 36px;
    border: 0.05rem solid rgba(0, 0, 0, 0);
    height: 36px;
    border-radius: 6px;
    background-color: #fff;
    padding: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.53);
    cursor: pointer;
    transition: ease all 0.2s;
}

.buff-icon:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.buff-icon.active {
    background: none;
    border: 2px solid var(--slider-color);
    border-radius: 40% !important;
    transform: scale(0.85);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13);
}

.dark .buff-icon {
    background-color: rgba(35, 35, 35, 0.84);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.25);
}

.dark .buff-icon:hover {
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.25);
}

.dark .buff-icon.active {
    border: 1px solid var(--slider-color);
    background: rgba(2, 3, 4, 0.09);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.13);
}