.reset-modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

}

.btn-danger {
    background-color: #dc2626 !important;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-danger:hover {
    background-color: #b91c1c;
}

.btn-danger:active {
    background-color: #991b1b;
}

.dark .skills-modal-content,
.dark .notification-toast {
    background: linear-gradient(145deg, #1f2937, rgba(33, 48, 58, 0.69));
    color: #f9fafb;
}