.rotation-pane {
    padding: 16px;
    padding-bottom: unset;
    background: var(--bg-secondary);
    border-radius: 8px;
}

.rotation-controls {
    justify-content: space-between;
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
    flex-wrap: wrap;
}

.rotation-button {
    background: rgba(142, 137, 137, 0.66);
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: ease all 0.3s;
}

.rotation-button:active,
.rotation-button.clear:active {
    transform: scale(1);
}

.dark .rotation-button {
    background: rgba(161, 156, 156, 0.65);
    color: #ddd;
}

.dark .rotation-button:hover {
    background: rgba(161, 156, 156, 0.85);
}

.rotation-button:hover {
    background: rgba(119, 116, 116, 0.85);
    color: white;
    transform: scale(1.05);
}

.rotation-button.clear {
    background: rgba(220, 20, 60, 0.75);
}

.rotation-button.clear:hover {
    background: crimson;
}

.rotation-buttons-left {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.rotation-button.add-button {
    margin-left: auto;
    font-size: 20px;
    padding: 6px 14px;
    background: rgba(27, 143, 137, 0.65);
    color: white;
}

.rotation-button.add-button:hover {
    background: lightseagreen;
}

.rotation-list {
    display: flex;
    flex-direction: column;
}

.rotation-header {
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}

.rotation-values {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.rotation-multiplier-inline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    margin-left: auto;
}

.rotation-item.locked {
    border: 2px dashed rgba(179, 8, 8, 0.4) !important;
    background-color: rgba(113, 113, 113, 0.04) !important;
}

.value-label {
    opacity: 0.7;
}

.avg {
    color: orange;
    font-weight: bold;
}

.rotation-actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.skill-option:hover {
    background: #333;
}

.rotation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

.entry-type-detail {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    min-width: 120px;
    text-align: right;
}

.entry-detail-text {
    font-weight: bold;
    font-size: 14px;
}

.rotation-item-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 12px;
}

.rotation-item {
    background: rgba(249, 249, 249, 0.74);
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-grow: 1;
    min-width: 0;
}

.dark .rotation-item,
.dark .saved-rotation-item {
    background: rgba(14, 18, 25, 0.82);
    border-color: rgba(68, 68, 68, 0.61);
    color: lightgray;
}

.saved-rotation-list {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.rotation-list-container {
    max-height: calc(100vh - 17.5rem);
    overflow-y: auto;
}

.saved-rotation-list {
    max-height: calc(100vh - 18rem);
    overflow-y: auto;
}

.saved-rotation-list.team {
    max-height: calc(100vh - 20.5rem);
    overflow-y: auto;
}

.entry-name {
    color: #6c6c6c;
}

.entry-name-edit {
    font-size: 1em;
    font-weight: bold;
    background: transparent;
    border: 1px solid rgba(136, 136, 136, 0.38);
    border-radius: 8px;
    padding: 4px 4px;
    min-width: 160px;
    outline: none;
    transition: border-color 0.2s ease;
}

.entry-name-edit:hover,
.entry-name-edit:focus {
    background-color: rgba(255, 255, 255, 0.04);
    color: #222;
}

.view-toggle-button,
select {
    padding: 6px 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: ease all 0.3s;
    background: rgba(200, 200, 200, 0.4);
    color: #333;
}

.view-toggle-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.29) !important;
}

.view-toggle-button.active,
.pastel-pink .view-toggle-button.active,
.pastel-blue .view-toggle-button.active,
.vibrant-citrus .view-toggle-button.active {
    background: #444;
    color: white;
    pointer-events: none !important;
}

.dark .view-toggle-button,
.dark select {
    background: rgba(100, 100, 100, 0.3);
    color: #ddd;
}

.dark .view-toggle-button.active {
    background: white;
    color: black;
}

.sort-controls {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 12px 0 20px;
    flex-wrap: wrap;
}

.sort-controls label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

select {
    width: 6rem;
    padding: 6px 10px;
    text-overflow: ellipsis;
    display: flex;
    text-align: center;
    transition: border-color 0.2s ease;
}

select:focus {
    outline: none;
    border-color: #888;
}

.dark .sort-controls label {
    color: #ccc;
}

.dark select:focus {
    border-color: #888;
}

.dark .entry-name-edit:hover,
.dark .entry-name-edit:focus {
    color: white;
}

.dark .entry-name {
    color: #aaa;
}

.rotation-actions.external-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    margin-left: 12px;
}

.skill-menu-panel {
    background: rgba(255, 255, 255, 0.77);
    border-radius: 10px;
    padding: 0;
    width: 43.75rem;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    animation: fadeInScale 0.3s ease-out;
    overflow: hidden;
}

.skill-menu-panel.fade-out {
    animation: fadeOutScale 0.2s ease-in forwards;
}

.skill-menu-overlay.fade-out {
    animation: fadeOutOverlay 0.2s ease-in forwards;
}

.menu-header-with-buttons {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    gap: 0.75rem;
    font-size: 15px;
    flex-shrink: 0;
    z-index: 1;
}

.dark .menu-header-with-buttons {
    border-bottom: 1px solid rgba(207, 207, 207, 0.1);
}

.skill-menu-list {
    padding: 12px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}

.skill-tab-section {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.skill-tab-label {
    font-weight: bold;
    font-size: 18px;
    padding: 4px 6px;
    margin-bottom: 6px;
    border-left: 3px solid rgba(14, 106, 102, 0.5);
    color: var(--text-color, #333);
}

.dark .skill-tab-label {
    color: #eee;
    border-left-color: rgba(32, 178, 170, 0.5);
}

.skill-option {
    background: transparent;
    border: none;
    color: inherit;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
    text-align: left;
}

.skill-option:hover {
    background: rgba(0, 0, 0, 0.05);
}

.dark .skill-option:hover {
    background: rgba(255, 255, 255, 0.05);
}

.skill-option:hover {
    background: rgba(149, 149, 149, 0.25);
}

.dark .skill-option:hover {
    background: rgba(255,255,255,0.05);
}

.skill-menu-overlay {
    animation: fadeInOverlay 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(1px);
}

.dark .skill-menu-panel {
    background: rgba(21, 31, 41, 0.87);
}

.collapsible-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: background 0.2s;
}

.collapsible-label:hover {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    padding-right: 6px;
}

.dark .collapsible-label:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.collapse-icon {
    font-size: 13px;
    margin-left: 8px;
    color: inherit;
}

.skill-type-icon {
    max-height: 24px;
    max-width: 24px;
    filter: brightness(0) saturate(100%);
}

.dark .skill-type-icon {
    filter: none;
}

.skill-tab-section {
    margin-bottom: 12px;
}

.rotation-view-toggle {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
}

.saved-rotation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}


.sort-controls select,
.sort-controls .custom-select__control {
    align-self: stretch;
}

.custom-select__control,
.custom-select__menu {
    padding: 0 5px;
    font-weight: bold;
    border-radius: 10px !important;
    border: none !important;
    background-color: rgba(200, 200, 200, 0.4) !important;
    color: #333 !important;
    box-shadow: none !important;
}

.custom-select__control--is-focused {
    border: none !important;
    box-shadow: none !important;
}

.custom-select__control {
    min-height: 2rem !important;
}

.custom-select__menu {
    border: 1px solid rgba(151, 151, 151, 0.2) !important;
    background-color: rgba(207, 207, 207, 0.04) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: unset !important;
    overflow-x: hidden !important;
    font-size: 12px !important;
    width: 8rem !important;
    max-width: 8rem !important;
}

.custom-select__menu-list {
    padding: 4px 6px !important;
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
    gap: 2px !important;
    width: 100% !important;
}

.custom-select__input-container {
    margin: unset !important;
    padding: unset !important;
}

.custom-select__indicator {
    transition: all ease 0.3s;
    color: #333 !important;
    padding: 0 5px 0 5px !important;
}

.custom-select__control:hover {
    cursor: pointer;
}

.custom-select__value-container {
    font-size: 0.85rem;
    overflow-x: auto !important;
    padding: 0 4px 0 2px !important;
    gap: 0.5rem;
}

.custom-select__input {
    margin-left: 2px !important;
    margin-right: 4px !important;
}

.custom-select__multi-value {
    margin: 4px 0 !important;
    background: rgba(0, 0, 0, 0.07) !important;
    border-radius: 8px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11) !important;
}

.custom-select__single-value__label,
.custom-select__multi-value__label {
    padding: 1px !important;
    padding-left: 6px !important;
}

.custom-select__clear-indicator.custom-select__indicator:hover {
    color: red !important;
}

.custom-select__multi-value__remove {
    transition: all ease 0.3s;
}

.custom-select__multi-value__remove:hover {
    background: none !important;
    transform: scale(1.05) !important;
}

.custom-select__multi-value__remove:hover svg {
    transform: scale(1.05) !important;
}

.custom-select__indicator:hover {
    color: #8c8c8c !important;
}

.custom-select__option {
    padding: 2px 4px 2px 8px !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    transition: all ease 0.3s;
    width: 100% !important;
    box-sizing: border-box !important;
}

.custom-select__option--is-focused {
    transform: scale(1.04);
    background-color: rgba(0, 0, 0, 0.09) !important;
    color: unset !important;
}

.custom-select__option--is-selected {
    background-color: rgba(0, 0, 0, 0.24) !important;
    color: unset !important;
}

.dark .custom-select__control,
.dark .custom-select__menu {
    background-color: rgba(100, 100, 100, 0.3) !important;
    color: #ddd !important;
}

.custom-select__single-value {
    color: unset !important;
}