.settings-page {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding-top: 0 !important;
}

.settings-body .echo-buff {
    max-width: 60rem;
}

.settings-header {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #333;
    background: transparent;
    flex-shrink: 0;
}

.dark .settings-header {
    border-color: rgba(255, 255, 255, 0.1);
    color: #ddd;
}

.settings-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
    overflow-y: auto;
    height: calc(100vh - 170px - 60px);
}

@media(max-width: 570px) {
    .settings-header {
        height: 6rem;
    }

    .settings-header h1 {
        font-size: 3rem;
    }

    .settings-body {
        padding-bottom: 7.75rem !important;
    }
}

.btn-primary {
    background-color: #555353;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.btn-primary.clear {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: #7c7b7b;
}

.dark .btn-primary:hover {
    background-color: #7c7b7b;
}

.echo-buff h2 {
    margin-top: unset;
}

.settings-label .main-stat-select {
    background-color: #555353;
}

.dark .settings-label .main-stat-select {
    background-color: #555353;
}

.settings-label .main-stat-select:hover {
    background-color: #7c7b7b;
}

.skills-modal-content.settings-import {
    max-width: 950px;
    max-height: 90vh;
}

.settings-import .btn-primary {
    width: 100%;
}