.skills-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.skills-modal-content {
    background: rgba(255, 255, 255, 0.77);
    padding: 10px 20px 20px 20px;
    border-radius: 12px;
    max-width: 800px;
    width: 90%;
    max-height: calc(100vh - 220px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: #222;
    backdrop-filter: blur(10px);
    animation: fadeInScale 0.3s ease;
    gap: 1rem;
}

.skills-modal-content .rotation-view-toggle {
    margin: 0.5rem 0 0 0;
    justify-content: center;
}

.skills-modal-content .btn-primary:hover {
    transform: scale(1.005);
}

.dark .skills-modal-content {
    color: #ddd;
}

.skills-modal-overlay.closing,
.skills-modal-overlay.hiding {
    animation: fadeOutOverlay 0.3s ease forwards;
}

.skills-modal-overlay:not(.closing),
.skills-modal-overlay:not(.hiding) {
    animation: fadeInOverlay 0.3s ease;
}

.skills-modal-overlay.closing,
.skills-modal-overlay.hiding {
    animation: fadeOutOverlay 0.3s ease forwards;
}

.skills-modal-content.closing,
.skills-modal-content.hiding {
    animation: fadeOutScale 0.3s ease forwards;
}

@media (max-width: 700px) {
    .skills-modal-tabs {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.skills-modal-content-area {
    color: #222;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.68);
    text-align: left;
    line-height: 1.4;
    font-size: 14px;
}

.skills-modal-content button {
    padding: 6px 12px;
    font-size: 0.9rem;
}

.multipliers-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    font-size: 14px;
}

.multipliers-table td {
    padding: 6px 8px;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
}

.multipliers-table .multiplier-value {
    text-align: right;
}


.dark .skills-modal-content-area {
    background-color: rgba(4, 5, 7, 0.18);
    color: #ddd;
}

.dark .multipliers-table td {
    border-bottom: 1px solid #444;
}

.skills-modal-content.confirm {
    width: 500px !important;
}

.confirm .btn-confirm {
    background: rgba(220, 20, 60, 0.75) !important;
}

.confirm .btn-confirm:hover {
    background: crimson !important;
}