.edit-substats-modal {
    background-color: rgba(218, 218, 218, 0.96);
    padding: 1rem;
    border-radius: 1rem;
    min-width: 20rem;
    max-width: 90vw;
    width: 800px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
    animation: fadeInScale 0.3s ease;
    transition: all ease 0.3s;
}

.edit-substats-modal.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.edit-substats-modal.hiding {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

.dark .edit-substats-modal {
    backdrop-filter: blur(5px);
    background: rgba(19, 25, 34, 0.81);
    border-color: rgba(255, 255, 255, 0.1);
}

.edit-substats-modal .modal-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.edit-substats-modal .modal-header img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
}

.edit-substats-modal .modal-header .modal-echo-name {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--text-primary);
}

.edit-substats-modal .modal-header .modal-echo-cost {
    font-size: 0.85rem;
    color: var(--text-secondary);
    margin-top: 2px;
}

.edit-substats-modal .modal-body {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.edit-substats-modal .substat-edit-row {
    border: 1px solid rgba(42, 42, 42, 0.09);
    background-color: rgba(0, 0, 0, 0.09);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 0.5rem;
}

@media(max-width: 640px) {
    .edit-substats-modal .toggle-group {
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
        grid-template-rows: repeat(2, auto);
        gap: 6px;
    }

    .edit-substats-modal {
        display: flex;
        align-self: center;
        position: fixed;
        top: 10dvh;
        max-height: 80dvh;
    }

    .edit-substats-modal .modal-body {
        overflow-y: auto;
    }
}

.dark .edit-substats-modal .substat-edit-row {
    background-color: rgba(0, 0, 0, 0.25);
}

.edit-substats-modal .toggle-group {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 6px;
}

.edit-substats-modal .toggle-group > :nth-child(12),
.edit-substats-modal .toggle-group > :nth-child(13),
.edit-substats-modal .toggle-group > :nth-child(11) {
    grid-column: span 2;
}

.toggle-group {
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);
}

.stat-toggle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.edit-substats-modal .stat-toggle {
    padding: 4px 8px;
    border-radius: 6px;
    background: rgba(133, 133, 133, 0.78);
    color: #ddd;
    max-height: 20px;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
    user-select: none;
}

.dark .edit-substats-modal .stat-toggle {
    background: rgba(120, 120, 120, 0.35);
}

.dark .edit-substats-modal .stat-toggle:hover {
    background: rgba(161, 156, 156, 0.85);
}

.edit-substats-modal .stat-toggle:hover {
    background: rgb(161, 156, 156);
    color: white;
    transition: background 0.2s;
    transform: scale(1.01);
}

.edit-substats-modal .stat-toggle.active {
    background: rgb(29, 172, 166);
    transform: scale(1);
}

.dark .edit-substats-modal .stat-toggle.active {
    background: rgba(32, 191, 185, 0.66);
}

.edit-substats-modal .substat-input {
    width: 60px;
    outline: none;
    padding: 0.4rem 0.6rem;
    font-size: 0.9rem;
    border-radius: 6px;
    color: white;
    justify-items: right;
    font-weight: bold;
    align-self: center;
    background: rgba(133, 133, 133, 0.52);
    border: none;
}

.edit-substats-modal .substat-input::-webkit-outer-spin-button,
.edit-substats-modal .substat-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.edit-substats-modal .substat-input[type=number] {
    -moz-appearance: textfield;
}

.substat-row {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.edit-substats-modal .add-substat {
    align-self: flex-start;
    background: var(--button-bg);
    color: rgba(34, 34, 34, 0.51);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--border-color);
    transition: background 0.2s ease;
}

.dark .edit-substats-modal .add-substat:hover {
    color: white;
}

.edit-substats-modal .add-substat:hover {
    color: #222;
}

.dark .edit-substats-modal .add-substat {
    color: rgba(255, 255, 255, 0.53);

}

.edit-substats-modal .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    margin-top: 1rem;
}

.edit-substats-modal .edit-substat-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 12px;
    border: none;
    background: rgba(29, 172, 166, 0.75);
    color: #ddd;
    width: 100%;
    cursor: pointer;
    transition: ease all 0.1s;
}

.dark .edit-substats-modal .edit-substat-button {
    background: rgba(32, 191, 185, 0.44);
}

.dark .edit-substats-modal .edit-substat-button:hover {
    background: rgba(32, 191, 185, 0.66);
}

.edit-substats-modal .edit-substat-button:hover {
    background: rgb(29, 172, 166);
    color: white;
    transform: scale(1.01);
}

.edit-substats-modal .edit-substat-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.main-stat-box {
    position: relative;
    margin-left: auto;
    text-align: right;
}

.main-stat-label {
    font-weight: bold;
    cursor: pointer;
    color: var(--accent);
}

.main-stat-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.main-stat-label {
    font-weight: bold;
    color: var(--text-primary);
}

.main-stat-select {
    padding: 0.4rem 0.6rem;
    color: #ddd;
    font-size: 0.8rem;
    font-weight: bold;
    background: rgba(133, 133, 133, 0.78);
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;
}

.dark .main-stat-select {
    background: rgba(161, 156, 156, 0.35);
}

.main-stat-select:hover {
    background: rgb(161, 156, 156);
    color: white;
    transition: background 0.2s;
}

.stat-toggle.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.set-icon-toggle-group {
    display: flex;
    gap: 6px;
    margin-top: 6px;
    flex-wrap: wrap;
}

.set-icon-toggle {
    width: 35px !important;
    height: 35px !important;
    cursor: pointer;
    opacity: 0.5;
    border-radius: 4px;
    transition: opacity 0.2s, border 0.2s;
}

.set-icon-toggle.selected {
    opacity: 1;
    border: 2px solid var(--accent);
}

.remove-substat-button {
    padding: 0;
    height: 100%;
    align-self: center !important;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none;
    color: rgba(34, 34, 34, 0.51);
    cursor: pointer;
    transition: color 0.2s;
}

.dark .remove-substat-button {
    color: rgba(255, 255, 255, 0.53);
}

.dark .remove-substat-button:hover {
    color: white;
}

.remove-substat-button:hover {
    color: #222;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}