.header-with-icon {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.rarity-4 {
    border-color: rgba(132, 72, 168, 0.75) !important;
    background-color: rgba(121, 46, 166, 0.08) !important;
}

.rarity-5 {
    border-color: rgba(255, 183, 0, 0.59) !important;
    background-color: rgba(255, 183, 0, 0.09) !important;
}

.icon-menu-img.rarity-4 {
    border: 1px solid rgba(132, 72, 168, 0.75);
}
.icon-menu-img.rarity-5 {
    border: 1px solid rgba(255, 183, 0, 0.59);
}

.header-icon {
    flex-shrink: 0;
    width: 93px;
    height: 93px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: ease all 0.4s;
    cursor: pointer;
    background: transparent;
    backdrop-filter: blur(4px);
}

/*.light .header-icon {
    width: 93px;
    height: 93px;
}*/

.light .echo-slot-icon-wrapper .header-icon {
    border: none;
}

.echo-slot-icon-wrapper .header-icon {
    border: 3px solid transparent;
}

.header-icon:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.character-info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.attribute-icon {
    width: 47px;
    height: 47px;
    object-fit: contain;
    margin-left: 0.5rem;
}

.weapon-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 0.5rem;
}