.notification-toast {
    position: fixed;
    background: rgba(255, 255, 255, 0.96);
    color: #2a2a2a;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1001;
    opacity: 0;
    transform: translate(-50%, 1rem);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.notification-toast.show {
    opacity: 1;
    transform: translate(-50%, 0);
}

.notification-toast.hide {
    opacity: 0;
    transform: translate(-50%, 1rem);
}

.notification-toast.top-center.hide,
.notification-toast.top-center {
    transform: translate(-50%, -1rem);
}

.notification-main {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.notification-icon {
    font-size: 1rem;
}

.notification-text {
    white-space: nowrap;
}

.notification-toast.top-left {
    top: 5rem;
    left: 1.5rem;
}

.notification-toast.top-right {
    top: 5rem;
    right: 1.5rem;
}

.notification-toast.bottom-left {
    bottom: 1.5rem;
    left: 1.5rem;
}

.notification-toast.bottom-right {
    bottom: 1.5rem;
    right: 1.5rem;
}

.notification-toast.top-center {
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
}

.notification-toast.bottom-center {
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.notification-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.09);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;
    pointer-events: none;
}

.notification-overlay.show {
    opacity: 1;
}

.notification-overlay.hide {
    opacity: 0;
}

.notification-prompt {
    font-size: 0.75rem;
    opacity: 0.8;
    margin-left: 1.5rem;
}

.notification-prompt.clickable {
    color: #404040;
    opacity: 0.5;
    text-decoration: underline;
    transition: opacity 0.3s ease;

}

.notification-toast:hover .notification-prompt.clickable {
    opacity: 1;
}

.skills-modal-content h4 a {
    transition: all ease 0.3s;
    text-decoration: underline;
    font-weight: 600;
}

.skills-modal-content h4 a:hover {
    color: var(--slider-color, #5e46ff);
}