.slider-group {
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.slider-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="range"] {
    --slider-fill-color: var(--slider-color, #888);
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: linear-gradient(
            to right,
            var(--slider-fill-color) 0%,
            var(--slider-fill-color) var(--slider-fill, 0%),
            white var(--slider-fill, 0%),
            white 100%
    );
    border-radius: 4px;
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--slider-color, #888);
    cursor: pointer;
    box-shadow: 0 0 4px #555;
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--slider-color, #888);
    cursor: pointer;
    box-shadow: 0 0 4px #555;
}

input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-moz-range-thumb:hover {
    background: #555;
}

.dark input[type="range"] {
    background: linear-gradient(
            to right,
            var(--slider-fill-color) 0%,
            var(--slider-fill-color) var(--slider-fill, 0%),
            #333 var(--slider-fill, 0%),
            #333 100%
    );
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.05);
}

.slider-group label,
.slider-label-with-input label {
    font-weight: bold;
    font-size: 14px;
}