.gutter {
    transition: transform 0.3s ease;
    background-color: #ccc;
    will-change: transform;
    cursor: col-resize;
    z-index: 10;
}

.gutter:hover {
    transform: scaleX(4);
}

.dark .gutter {
    background-color: #333;
}

.dark .gutter:hover {
    background-color: #424242;
}